<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/complaints"></ion-back-button>
    </ion-buttons>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="updateComplaint()">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Detalles de la denuncia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!loadedComplaint"></ion-spinner>
  <ion-grid *ngIf="loadedComplaint">
    <ion-row>
      <ion-col size-md="6" offset-md="3">

        <ion-item>
          <ion-label>
            <p>Nro. seguimiento:</p> {{ loadedComplaint._id }}
          </ion-label>
          <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Tipo:</p> {{ loadedComplaint.type }}
          </ion-label>
          <ion-icon name="list-circle-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Tipo:</ion-label>
          <ion-select [(ngModel)]="asd" interface="popover" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
            cancelText="Cancelar" okText="Aceptar" value={{loadedComplaint.typeID}}>
            <ion-select-option *ngFor="let complaintType of complaintTypes" value={{complaintType._id}}>
              {{complaintType.type}}</ion-select-option>
          </ion-select>
          <ion-icon name="list-circle-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Estado:</p> {{ loadedComplaint.state }}
          </ion-label>
          <ion-icon name="ellipsis-horizontal-circle-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Estado:</ion-label>
          <ion-select interface="popover" [interfaceOptions]="{'cssClass': 'mycomponent-wider-popover'}"
            cancelText="Cancelar" okText="Aceptar" value={{loadedComplaint.stateID}}>
            <ion-select-option *ngFor="let complaintState of complaintStates" value={{complaintState._id}}>
              {{complaintState.state}}</ion-select-option>
          </ion-select>
          <ion-icon name="ellipsis-horizontal-circle-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Dirección:</p> {{ loadedComplaint.location.address }}
          </ion-label>
          <ion-icon name="location-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-icon name="navigate-circle-outline" slot="start"></ion-icon>
          <ion-list>
            <ion-label style="margin-bottom: 6px;">
              <p>Mapa:</p>
            </ion-label>
            <ion-img style="margin-bottom: 12px;" *ngIf="mapImage" [src]="mapImage"></ion-img>
          </ion-list>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Coordenadas:</p> {{ loadedComplaint.location.coordinates.lat }},
            {{ loadedComplaint.location.coordinates.lng }}
          </ion-label>
          <ion-icon name="compass-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Patente:</p> {{ loadedComplaint.plate }}
          </ion-label>
          <ion-icon name="car-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item *ngIf="loadedComplaint.notes">
          <ion-label>
            <p>Notas:</p> {{ loadedComplaint.notes }}
          </ion-label>
          <ion-icon name="chatbox-ellipses-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Fecha:</p> {{loadedComplaint.date.toLocaleDateString()}},
            {{loadedComplaint.date.toLocaleTimeString()}}
          </ion-label>
          <ion-icon name="calendar-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item *ngIf="loadedComplaint.imagePaths.length > 0">
          <ion-icon name="camera-outline" slot="start"></ion-icon>
          <ion-list>
            <ion-label style="margin-bottom: 6px;">
              <p>Fotos:</p>
            </ion-label>
            <ion-img *ngFor="let imagePath of loadedComplaint.imagePaths" style="margin-bottom: 12px;"
              [src]="imagePath">
            </ion-img>
          </ion-list>
        </ion-item>

        <ion-item>
          <ion-label>
            <p>Fecha creación:</p> {{loadedComplaint.createdAt.toLocaleDateString()}},
            {{loadedComplaint.createdAt.toLocaleTimeString()}}
          </ion-label>
          <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        </ion-item>

        <ion-item *ngIf="loadedComplaint.createdAt.getUTCDate() !== loadedComplaint.updatedAt.getUTCDate()">
          <ion-label>
            <p>Última actualización:</p> {{loadedComplaint.updatedAt.toLocaleDateString()}},
            {{loadedComplaint.updatedAt.toLocaleTimeString()}}
          </ion-label>
          <ion-icon name="calendar-clear-outline" slot="start"></ion-icon>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>